---
layout: grid
title: What you can do
summary: "We support young people age 15-24 years old to take steps towards employment"
---

{% include teaser.html title="Title" img="/img/thumbnails/placeholder.png" text="text" buttontext="buttontext" content="Testing 123" url="http://www.valonline.org.uk" %}

{% include teaser.html title="Title" img="/img/thumbnails/placeholder.png" buttontext="buttontext" content="Testing 123" %}

{% include teaser.html title="Title" img="/img/thumbnails/placeholder.png" text="text" buttontext="buttontext" content="Testing 123" %}

{% include teaser.html title="Title" img="/img/thumbnails/placeholder.png" text="text" buttontext="buttontext" content="Testing 123" %}

{% include teaser.html title="Title" img="/img/thumbnails/placeholder.png" text="text" buttontext="buttontext" content="Testing 123" %}

{% include teaser.html title="Title" img="/img/thumbnails/placeholder.png" text="text" content="Testing 123" %}