---
title: News
layout: grid
summary: Latest news from the YES Project.
---

{% for post in paginator.posts %}
<div class="teaser-wrapper">
	<div class="teaser">
 <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.thumbnail-image }}"></a>
  <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
  <div class="content">
	{% if post.summary == null %}
    {{ post.content | strip_html | truncatewords: 15 }}
	{% else %}
	{{ post.summary }}
	{% endif %}
  </div>
</div>
</div>
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
  <ul>
  {% if paginator.previous_page %}
    <li><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">Previous</a></li>
  {% else %}
  {% endif %}
  {% for item in paginator.total_pages) %}
  <li><a {% if paginator.page == item %}class="active" href="#"{% else %} href="{{ site.baseurl }}/news{% if item != 1%}/{{ item }}{% endif %}"{% endif %}>{{item}}</a></li>
  {% endfor %}
  {% if paginator.next_page %}
    <li><a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next</a></li>
  {% else %}
  {% endif %}
  </ul>
</div>
{% endif %}