<div class="box box-default box-events">
<h3>Upcoming Events</h3>
<ul class="item-list">
{% for event in site.events | sort: 'startdate'  %}
{% capture event_date %}{{ event.startdate | '%s' }}{% endcapture %}
{% capture current_date %}{{ site.time | '%s' }}{% endcapture %}
{% if event_date > current_date %}
<li>
<a href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a><br>
{{ event.startdate | date: "%-d %B %Y" }}
</li>
{% endif %}
{% if forloop.last %}
{% if forloop.index == 3 %}
<a class="readmore" href="{{ site.baseurl }}/events">more</a>
{% endif %}
</ul>
{% endif %}
{% endfor %}
</div>