---
layout: grid-no-sidebar
title: What you can do
summary: We support young people age 15-24 years old to take steps towards employment
published: true
---

{% include teaser.html title="Become a Booster" img="/img/thumbnails/social-boost-thumbnail.png"  text="Learn how you can make money from social media. Join Social Boost to gain skills and experience to start your own social media company." url="/boost" %}

{% include teaser.html title="Get Creative" img="/img/thumbnails/get-creative-thumbnail.jpg"  text="Do you have a passion for all things creative? If so, you can explore lots of exciting creative activities at Soft Touch Arts." url="/what-you-can-do/get-creative" %}

{% include teaser.html title="Experience the world of Digital Media" img="/img/thumbnails/yes-media-thumbnail.jpg" text="Learn all you need to know about the world of digital media with Seed Creativity." url="/what-you-can-do/experience-the-world-of-digital-media"  %}

{% include teaser.html title="Explore the world of work" img="/img/thumbnails/explore-the-world-of-work-thumbnail.jpg" text="Get a taste for type of job you would like to do in the future with Flying Fish."  url="/what-you-can-do/explore-the-world-of-work" %}

{% include teaser.html title="Enhance your employability" img="/img/thumbnails/cultural-support.jpg" text="Improve your work chances by gaining an accredited qualification with Bangladesh Youth and Cultural Shomiti."  url="/what-you-can-do/enhance-your-employability" %}

{% include teaser.html title="Get hands on experience and access to jobs" img="/img/thumbnails/engineering.jpg" text="Get equipped with the skills, tools, training and confidence you need to secure a job. This course is delivered by Prince’s Trust."  url="/what-you-can-do/get-hands-on-experience-and-access-to-jobs" %}

{% include teaser.html title="Get motivated to succeed" img="/img/thumbnails/get-motivated-to-succeed-thumbnail.jpg" text="Learn new skills while improving confidence and self-esteem with the YES Team Programme."  url="/what-you-can-do/get-motivated-to-succeed" %}

{% include teaser.html title="Lead and inspire people like you" img="/img/thumbnails/meeting.jpg" text="Learn leadership, decision making and team building skills when you join the YES Youth Leadership Group."  url="/what-you-can-do/lead-and-inspire-people-like-you" %}

{% include teaser.html title="Create a brighter future" img="/img/thumbnails/computers.jpg" text="TwentyTwenty’s mentoring service can help you to believe in yourself and achieve your education or employment goals."   url="/what-you-can-do/create-a-brighter-future" %}

{% include teaser.html title="Start Your Own Business" img="/img/thumbnails/retail-2.jpg" text="Enhance your business skills and develop your business ideas so that you can create the future you want with the YES Enterprise Team."   url="/what-you-can-do/start-your-own-business" %}

{% include teaser.html title="YES Specialised Support Services" img="/img/thumbnails/specialist-support.jpg" text="YES specialist support services can provide you with the support you need to overcome the barriers that prevent you from getting a job."   url="/what-you-can-do/yes-specialised-support-services" %}
