---
layout: grid
title: What you can do
summary: "We support young people age 15-24 years old to take steps towards employment"
---

{% include teaser.html title="Get Creative" img="/img/thumbnails/placeholder.png"  text="Soft Touch Arts is an award winning charity using arts, media and music activities as a tool to engage with and change the lives of disadvantaged young people." url="/what-you-can-do/get-creative" %}

{% include teaser.html title="Experience the world of Digital Media" img="/img/thumbnails/digital-media.jpg" text="Seed Creativity is digital marketing agency that creates visual communications for businesses." url="/what-you-can-do/experience-the-world-of-digital-media"  %}

{% include teaser.html title="Explore the world of work" img="/img/thumbnails/placeholder.png" text="Flying Fish (part of Leicestershire Cares) supports young people in care or leaving care on to the next steps in life by introducing them to the world of work."  url="/what-you-can-do/explore-the-world-of-work" %}

{% include teaser.html title="Get hands on experience and access to jobs" img="/img/thumbnails/placeholder.png" text="The Prince’s Trust helps young people transform their lives by supporting them to develop the skills and confidence needed to access jobs, training and education."  url="/what-you-can-do/get-hands-on-experience-and-access-to-jobs" %}

{% include teaser.html title="Get motivated to succeed" img="/img/thumbnails/placeholder.png" text="YES Team programme is a partnership of the organisations lead by Warwickshire College. It helps young people develop life skills and motivates them to take the next steps in life."  url="/what-you-can-do/lead-and-inspire-people-like-you" %}

{% include teaser.html title="Lead and inspire people like you" img="/img/thumbnails/placeholder.png" text="YES Leadership Group is a team of young people that make sure the YES Project is appealing, relevant and engaging to 15 to 24 year olds. Voluntary Action LeicesterShire (VAL) coordinates this group."  url="/what-you-can-do/lead-and-inspire-people-like-you" %}

{% include teaser.html title="Believe in yourself and achieve" img="/img/thumbnails/placeholder.png" text="TwentyTwenty has supported over 2000 young people to develop self-belief, achieve in education, learn work-ready skills and find and keep a job."   url="/what-you-can-do/believe-in-yourself-and-achieve" %}

{% include teaser.html title="Start Your Own Business" img="/img/thumbnails/placeholder.png" text="YES Enterprise Team is made up of Voluntary Action LeicesterShire and The Prince’s Trust. Together, these charities have already helped many people start up their own social enterprises or private ventures."   url="/what-you-can-do/start-your-own-business" %}

{% include teaser.html title="YES Specialised Support Services" img="/img/thumbnails/placeholder.png" text="The Bridge is a local charity that provides specialist support to help young people accessing the YES Project with issues, such as homelessness, mental health, disabilities or substance abuse."   url="/what-you-can-do/yes-specialised-support-services" %}

{% include teaser.html title="Language and Cultural Support" img="/img/thumbnails/placeholder.png" text="Bangladesh Youth & Cultural Shomiti is a learning provider that focuses on addressing language and cultural barriers."   url="/what-you-can-do/language-and-cultural-support" %}