.footer {
  $base-spacing: 1.5em !default;
  $footer-background: lighten($light-gray, 20%);
  background: $footer-background;
  padding-top: $gutter*2;
  
  .footer-links {
	  padding: $gutter;
      @include media($mobile) {
        @include fill-parent;
      }

      // Same logic for tablets.
      @include media($tablet) {
        @include span-columns(8/3);
		margin-right: 0;
      }
  }
  
    .footer-copyright {
	@include fill-parent;
	}

  ul {
	  padding-left: 0;
	  @include media($tablet) {
	      margin-bottom: $base-spacing * 2;
	      font-size: 0.9em;
	  }
  }

  li {
    line-height: 1.5em;
    list-style: none;
  }

  li a {
  }

  .footer-copyright {
    padding: $gutter;
    clear: both;
    width: 100%;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: auto;
	@include media($mobile) {
		padding-right: 110px;
	}
  }
}