.teaser-wrapper {
	transition: all 1s ease-in-out;
	.teaser {
		box-shadow: 0 2px 4px darken($base-background-color, 10%);
		background: white;
		border: 1px solid $light-gray;
		padding: $gutter;
		height: 450px;
		font-size: 0.88em;
		h4 {
			margin-bottom: 0;
		}
		span {
			color: darken($medium-gray, 30%);
			font-size: 0.8em;
		}
		img {
			width: 100%;
			height: auto;
			transition: opacity 0.25s linear;
			&:hover, &:focus {
				opacity: 0.7;
			}
		}
		a.button {
		font-size: 1em;
		}
	}
    @include media($mobile) {
		padding-left: $gutter;
		padding-right: $gutter;
		padding-bottom: $gutter;
    }

    // Same logic for tablets.
    @include media($tablet) {
		width: 49%;
		padding-right: 0;
		float: left;
    }

    @include media($desktop) {
		
		width: 32.5%;
    }
}