// Navigation Settings

$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: em(950) !default;
$navigation-padding: 1em;
$navigation-background: $brand-primary;
$navigation-color: transparentize(white, 0.1);
$navigation-color-hover: white;
$navigation-height: 60px;
$navigation-nav-button-background: $action-color;
$navigation-nav-button-background-hover: darken($navigation-background, 10%);
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
$navigation-menu-button-image-height: 21px;
$navigation-search-background: #fff;
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 0.7em;
$navigation-submenu-width: 14em;
$navigation-font-weight: bold;
$horizontal-bar-mode: $large-screen;
$logo-image-height: 20px;
$logo-image-width: 250px;
$small-screen: em($gutter + $logo-image-width + $navigation-height + $navigation-height);
$tiny-screen: em(320px);